{% extends 'sceleton.html' %}
{% block content %}
    <div id="club-name"><h1>{{ club }}</h1></div>

    <div id="club-info" class="mb-3">
        {% if club.logo %}
            <img class="rounded" id="club-logo" src="/media/{{ club.logo }}">
        {% endif %}
        <div id="club-sport"><span class="club-label">Вид спорта:</span><span class="club-value"> {{ club.sport }}</span></div>
        <div id="club-create-date"><span class="club-label">Год создания:</span><span class="club-value"> {{ club.create_date|date:"Y" }}</span></div>
        {% if club.closed_date %}
            <div id="club-closed-date"><span class="club-label">Год закрытия:</span><span class="club-value"> {{ club.closed_date|date:"Y" }}</span></div>
        {% endif %}
        <div id="club-country"><span class="club-label">Страна:</span><span class="club-value"> {{ club.country }}</span></div>
        <div id="club-city"><span class="club-label">Город:</span><span class="club-value"> {{ club.city }}</span></div>
        {% if club.site %}
            <div id="club-site"><span class="club-label">Сайт: </span><span class="club-value"> <a href="{{ club.site }}" rel="nofollow noopener" target="_blank">{{ club.site }}</a></span></div>
        {% endif %}
    </div>
    <div id="clearfix"></div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="club-players-tab" href="#">Состав клуба</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="club-about-tab" href="#">О клубе</a>
      </li>
    </ul>
    <div id="wrapper-club-players" class="mt-3">
        <div class="wrapper-season">
            <div id="prev"></div>
            <div id="season" style="left:40px;width: calc(100px * {{ seasons|length }});">
                {% for season in seasons %}
                    {% if forloop.first %}
                        <div class="years selected" style="left:0px" data-season="{{ season }}"><a href="#{{ season }}">{{ season }}/{{ season|add:"1" }}</a></div>
                    {% else %}
                        <div class="years" style="left:calc(120px * {{forloop.counter0}})" data-season="{{ season }}"><a href="#{{ season }}">{{ season }}/{{ season|add:"1" }}</a></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="next"></div>
        </div>
        <div id="wrapper-for-players">
            {%  for season in seasons %}
                {% if forloop.first %}
                    <div class="players visible" name="{{ season }}">
                {% else %}
                    <div class="players" name="{{ season }}">
                {% endif %}
                        {% for career in careers %}
                            {% if season in career.year_tech%}
                                <div class="player">
                                    <div class="sportsman-photo"><a href="/sportsmans/{{career.id_sportsman.user_id}}"><img src="/media/{{ career.id_sportsman.photo }}" width="100" height="150"></a></div>
                                    <div class="info">
                                        <div class="sportsman-name"><span>{{ career.id_sportsman.last_name }} {{ career.id_sportsman.first_name }}</span></div>
                                        <div class="sportsman-age"><span class="space">Возраст:</span><span class="value">{{ career.id_sportsman.age }}</span></div>
                                        <div class="sportsman-height_sportsman"><span class="space">Рост:</span><span class="value">{{ career.id_sportsman.height_sportsman }}</span></div>
                                        <div class="sportsman-role"><span class="space">Позиция:</span><span class="value">{{ career.id_sportsman.role }}</span></div>
                                        <div class="sportsman-rank"><span class="space">Звание:</span><span class="value">{{ career.id_sportsman.rank }}</span></div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
            {% endfor %}
        </div>
    </div>
    <div id="club-about" style="display: none;">
        <p>
            {% autoescape off %}
                {{ club.about }}
            {% endautoescape %}
        </p>
    </div>
    <script>
    ;(function () {
        var text = $("#club-about");
        var defaultHeight = '100';
        if (text.height() < defaultHeight) {
            $('#learn-more').remove();
        }
        $('#learn-more').click(function (item) {
            if (text.height() > defaultHeight) {
                text.css('height', defaultHeight);
                item.toElement.innerHTML = "Подробнее";
            } else {
                text.css('height', 'auto');
                item.toElement.innerHTML = "Скрыть";
            }
            $('body').animate({ scrollTop: 0 }, 500);
        });

        var year = window.location.hash.replace("#","");
        if (year){
            $(".years").removeClass("selected");
            $("div[data-season=" + year +"]").addClass("selected");
            $(".players").removeClass("visible");
            $("div[name=" + year +"]").addClass("visible");
        }
    })(jQuery);
    $(function() {
        $('#club-players-tab').click(function(e) {
            $("#wrapper-club-players").delay(100).fadeIn(100);
            $("#club-about").fadeOut(100);
            $('#club-about-tab').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#club-about-tab').click(function(e) {
            $("#club-about").delay(100).fadeIn(100);
            $("#wrapper-club-players").fadeOut(100);
            $('#club-players-tab').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
    });
    $(".years").click(function(){
        $(".years").removeClass("selected");
        $(".players").removeClass("visible");
        $(this).addClass("selected");
        season = $(this).attr("data-season");
        $("div[name=" + season + "]").addClass("visible");
    });
    $("#next").click(function(){
        width = parseInt($("#season").css("width"));
        left = parseInt($("#season").css("left"));
        scale = (width/$(".years").length)*4;

        if (Math.abs(left - scale/4) < Math.abs(width - scale/2))
            $("#season").animate({
                height: "50px",
                left: "-=" + scale,
             }, 500)
    });
    $("#prev").click(function(){
        width = parseInt($("#season").css("width"));
        left = parseInt($("#season").css("left"));
        scale = (width/$(".years").length)*4;

        if (left < 40)
            $("#season").animate({
                height: "50px",
                left: "+=" + scale,
             }, 500)
    })


</script>
{% endblock %}
