{% extends 'sceleton.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>Добавление статьи</h1>
    <div class="mt-3">
        <p>
            Вы попали на страницу добавления статьи. Отправленная статья попадет на проверку, которая занимает от одного до трёх дней.
            После проверки, статья станет доступна на страницах сайта.
        </p>
    </div>
    <form class="mb-5" method="post">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.non_field_errors }}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Отправить на модерацию</button>
    </form>
{% endblock %}
