{% extends 'sceleton.html' %}

{% block content %}
    <h1 class="h2 mb-3">Вид с тирбун</h1>
    <div class="row mt-3">
        <div class="col">
            <form method="post" action="/tribune/">
                {% csrf_token %}
                <div class="input-group">
                  <input type="text" name="query" class="form-control" placeholder="Поиск статей" minlength="3">
                  <span class="input-group-btn">
                    <input type="submit" class="btn btn-default" value="Поиск">
                    <a class="btn btn-success" href="/tribune/add/">Создать статью</a>
                  </span>
                </div>

            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {% for story in tribune %}
                <div class="card mb-3">
                    <a class="d-block" href="{% url 'tribune-page' story.tribune_id %}">
                        <div class="card-body">
                            <h4 class="card-title">{{ story.title }}</h4>
                            <div class="card-text text-secondary">
                                {% autoescape off %}
                                    {{ story.preview }}
                                {% endautoescape %}
                            </div>
                            <p class="card-text"><small class="text-muted">{{ story.user }} - {{ story.data_publish }}</small></p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <!--{% if news.has_next or news.has_previous %}-->
        <!--<ul class="pagination pagination-sm mt-3 mb-5">-->
            <!--{% for page in news.paginator.page_range %}-->
                <!--{% if page == news.number %}-->
                    <!--<li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>-->
                <!--{% else %}-->
                    <!--<li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>-->
                <!--{% endif %}-->
            <!--{% endfor %}-->
        <!--</ul>-->
    <!--{% endif %}-->
{% endblock %}