@import "source/reset";
@import "source/club";
@import "source/national_team";
@import "source/news";
@import "source/tournament";
@import "source/contacts";
@import "source/sportsman";

@font-face {
    font-family: Digital;
    src: url(/static/font/digital/7fonts.ru_DS-DIGI.TTF);
}
.container-fluid {
    margin-bottom: 100px;
}
.bg-primary {
    background-color: #205ea2 !important;
}

@color-brand: #205ea2;
h1,h2 {
    font-size: 1.5em;
    margin: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100%;
}
.card:hover {
    transition-duration: .7s;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5); /* Параметры тени */
}
.card > a {
    color: black;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
hr {
    border-width: 1px 0 0 0;
}
#logo-block {
    width: 200px;
    height: 50px;
    float: left;
    position: relative;
}
.career {
    padding-left: 10px;
}
#logo-block img{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
#right-block {
    display: inline-block;
    padding: 10px;
    a {
        width: 80px !important;
        height: 130px;
        color: @color-brand;
    }
}
#birthday {
    display: inline-block;
    margin-bottom: 15px;
}
.birthday-photo {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 150px;
    margin: 0 3px 2px 0;
    float: left;
    a {
        display: block;
        height: 100%;
    }
}
.birthday-photo:nth-child(8n) {
    margin: 0 0 2px 0;
}
.birthday-photo:hover::after {
    content: attr(data-title);
    position: absolute;
    top: 75%;
    z-index: 1;
    background: rgba(255,255,255,0.9);
    font-size: 11px;
    padding: 5px 10px;
}
#interest-facts {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    #interest-facts-message {
        padding: 10px;
        box-shadow: 2px 2px 10px -1px rgba(0,0,0,0.5);
        font-size: 0.85em;
    }
}
.sport-item {
    padding: 10px 10px 0 10px;
}
.sport-subitem {
    font-size: .8em;
    color: #5f81c5;
    margin: 5px 0 5px 20px;
    padding-left: 2px;
    list-style: disc inside;
}
.tournament-title {
    margin: 10px 0;
    h3 span {
        color: @color-brand;
        text-decoration: none;
        border-bottom: 1px dashed @color-brand;
        cursor: pointer;
    }
}
.wrapper-player {
    display: none;
}
.s-photo {
    display: inline-block;
    position: relative;
    width: 104px;
    height: 152px;
    margin: 0 10px 12px 0;
    float: left;
    a {
        display: block;
        height: 100%;
    }
}
.s-photo:hover::after {
    content: attr(data-title);
    position: absolute;
    top: 75%;
    z-index: 1;
    background: rgba(255,255,255,0.9);
    font-size: 11px;
    padding: 5px 10px;
}

#sportsman-photo {
    float: right;
    width: 240px;
    height: 350px;
    margin: 0 0 20px 20px;
}

.current_page {
    font-weight: 600;
}
.tournaments-title {
    color: @color-brand;
}
#tournament-list {
    margin: 10px 0;
}
#both,
.both {
    clear: both;
}
#events div:nth-child(2n+1){
    margin-left: 0px;
}
.wrapper-event {
    width: 45%;
    float: left;
    margin-left: 10%;
    margin-bottom: 15px;
    font-size: 0.8em;
    a {
        color: black;
    }
}
.event-elem {
    margin-top: 5px;
    &:hover {
        background: #d0d0d0;
    }
}
#tournament-table div:nth-child(2n) {
    .col {
        background: rgb(245, 244, 244);
    }
}
#tournament-table{
    width: 100%;
    margin-bottom: 20px;
    .row {
        width: 100%;
        .col {
            width: 15%;
            float: left;
            text-align: center;
        }
        .title {
            font-size: 0.9em;
            font-weight: 600;
        }
        .item {
            font-size: 0.8em;
        }
    }
}
#schedule div:nth-child(2n) {
    .schedule-item {
        background: rgb(245, 244, 244);
    }
}
#schedule{
    width: 100%;
    margin-bottom: 20px;
    .schedule-row {
        width: 100%;
        .date{
            width: 20%;
            float: left;
            font-size: 0.8em;
        }
        .teams {
            width: 50%;
            float: left;
            text-align: center;
            font-size: 0.8em;
        }
        .score {
            width: 30%;
            float: left;
            text-align: center;
            font-size: 0.8em;
        }
        .title {
            font-size: 0.9em;
            font-weight: 600;
        }
        a {
            color: black;
        }
    }
    .schedule-row:hover {
        .schedule-item {
            background: #d0d0d0;
        }
    }
}
#sportsman-biography {
    text-align: justify;
    line-height: 20px;
    margin-top: 15px;
}
#teams-date{
    text-align: center;
    font-size: 1.2em;
}
#teams-title {
    margin-top: 20px;
    font-size: 1.5em;
    text-align: center;
}
#teams-scope {
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
    font-family: Digital;
}
.ya-share2 {
    text-align: right;
}
.news-tag {
    font-size: 0.8em;
    a {
        color: gray;
    }
}
#ads-news-list, #ads-news-page{
    margin: 20px 0;
}
#birthday-href {
    font-size: .8em;
    text-align: right;
    a {
        text-decoration: underline;
        display: inline-block;
        margin-top: 5px;
    }
}
#wrapper-birthday-photo {
    margin-top: 10px;
}

#success {
    font-size: 1.2em;
    color: green;
    margin: 10px;
}
#error {
    font-size: 1.2em;
    color: red;
    margin: 10px;
}
#submit {
    width: 100px;
    height: 25px;
}
.btn-brand {
    color: white;
    background-color: @color-brand;
    border-color: @color-brand;
}
button {
   outline: none;
   box-shadow:none !important;
}