{% extends 'sceleton.html' %}

{% block content %}
    <h1 class="h2 mb-3">Новости</h1>
    <div class="row">
        <div class="col px-2 mb-4">
            {% for item in news|slice:":7" %}
                <div class="card mb-3">
                    <a class="d-block" href="{% url 'news-item-page' item.news_id %}">
                        <div class="card-body">
                            <h6 class="card-title">{{ item.title }}</h6>
                            <p class="card-text text-muted">{{ item.preview }}</p>
                            <p class="card-text"><small class="text-muted">{{ item.kind_sport }} - {{ item.data_publish }}</small></p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="col px-2 mb-4">
            {% for item in news|slice:"7:14" %}
                <div class="card mb-3">
                    <a class="d-block" href="{% url 'news-item-page' item.news_id %}">
                        <div class="card-body">
                            <h6 class="card-title">{{ item.title }}</h6>
                            <p class="card-text text-muted">{{ item.preview }}</p>
                            <p class="card-text"><small class="text-muted">{{ item.kind_sport }} - {{ item.data_publish }}</small></p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="col px-2 mb-4">
            {% for item in news|slice:"14:21" %}
                <div class="card mb-3">
                    <a class="d-block" href="{% url 'news-item-page' item.news_id %}">
                        <div class="card-body">
                            <h6 class="card-title">{{ item.title }}</h6>
                            <p class="card-text text-muted">{{ item.preview }}</p>
                            <p class="card-text"><small class="text-muted">{{ item.kind_sport }} - {{ item.data_publish }}</small></p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if news.has_next or news.has_previous %}
        <ul class="pagination pagination-sm mt-3 mb-5">
            {% for page in page_range %}
                {% if page == news.number %}
                    <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}