{% extends 'sceleton.html' %}

{% block content %}
    {% if sportsman_birthday  %}
        <h1>Именинники</h1>
        <div id="wrapper-s-photo">
            {% for sportsman in sportsman_birthday %}
                <div class="s-photo" style="background: url(/media/{{ sportsman.photo }}) 50% 50% no-repeat; background-size: cover; " data-title="{{ sportsman.last_name }} {{ sportsman.first_name }}">
                    <a href="/sportsmans/{{ sportsman.user_id }}/"></a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p> Сегодня никто, из известных нам спортсменов, не отмечает свой день рождения. </p>
    {% endif %}
    <div id="both"></div>
{% endblock %}
