{% extends 'sceleton.html' %}


{% block content %}
    <h1>Контакты</h1>
    <p>Здравствуйте! Если у Вас возникли какие то вопросы или предлоежния, а может быть просто
        хотите на что-то обратить наше внимание, просто заполните данную форму и отправьте данное сообщение.
    Мы обязательно ответим Вам в ближайшее время!</p>
    {% if request.COOKIES.success == 'true' %}
        <div id="success">Ваша заявка отправлена.</div>
    {% elif request.COOKIES.success == 'false' %}
        <div id="error">Ошибка отправки. Попробуйте отправить позднее.</div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label class="contacts-label">Введите Ваш e-mail:</label></br>
        <input name="email" type="email" id="e-mail" class="contacts-input" autofocus required></br>
        <label class="contacts-label">Представьтесь:</label></br>
        <input name="user_name" type="text" id="name" class="contacts-input" required></br>
        <label class="contacts-label">Введите ваше сообщение:</label></br>
        <textarea name="message" class="contacts-textarea" maxlength="1000" cols="50" rows="10"></textarea></br>
        <input id="submit" type="submit">
    </form>

    <style>


    </style>
{% endblock %}
