{% extends 'sceleton.html' %}


{% block content %}
    <h1>{{ event.id_club_owner.sport}}</h1>
    <div id="teams-date">{{ event.date }}</div>
    <div id="teams-title"><span>{{ event.id_club_owner}} - {{ event.id_club_guest}}</span></div>
    <div id="teams-scope"><span>
        {% if event.score_game %}
            {{ event.score_game }}
        {% else %}
            0:0
        {% endif %}
    </span></div>

{% endblock %}