{% extends 'sceleton.html' %}


{% block content %}
    {% if events %}
        <h1>Ближайшие события</h1>
        <div id="events">
            {% for key, events  in near_event %}
                <div class="wrapper-event">
                    <div style="font-weight: 600; margin-bottom: 10px"><span>{{ key }}</span></div>
                    {% for event in events %}
                        <div class="event-elem">
                            <a href="/event/{{ event.id }}/">
                                <div><span>{{ event.id_club_owner }} - {{ event.id_club_guest }}</span></div>
                                <div><span>{{ event.date }}</span></div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="both"></div>
    {% endif %}
    {% if sportsman_birthday %}
        <div id="birthday">
            <h1>Дни рождения</h1>
            <div id="wrapper-birthday-photo">
                {% for man in sportsman_birthday|slice:":8" %}
                    <div class="birthday-photo" style="background: url(/media/{{ man.photo }}) 50% 50% no-repeat; background-size: cover; " data-title="{{ man.last_name }} {{ man.first_name }}">
                        <a href="/sportsmans/{{ man.user_id }}/"></a>
                    </div>
                {% endfor %}
                {% if sportsman_birthday|length > 8 %}
                    <div id="birthday-href"><a href="/birthday/">Все именниники</a></div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <h2>Последние новости</h2>
    <div id="news-blcok">
        {% for item in news_list %}
                <div class="news-item">
                    <div class="news-title"><a href="news/{{ item.news_id }}/">{{ item.title }}</a></div>
                    <div class="news-tag">
                        <a href="#">{{ item.kind_sport }}</a>
                    </div>
                    <div class="news-preview"><a href="news/{{ item.news_id }}/">{{ item.preview }}</a></div>
                    <div class="news-info">
                        <div class="news-data-create">{{ item.data_publish }}</div>
                    </div>
                </div>
        {% endfor %}
        <div class="both mt-5"></div>
    </div>
{% endblock %}
