{% extends 'sceleton.html' %}

{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'scripts/jquery.min.js' %}"></script>


{% if message %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endif %}
<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link active" id="login-form-link" href="#">Войти</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" id="register-form-link">Зарегистрироваться</a>
  </li>
</ul>
<form id="auth-form" method="post">
    {% csrf_token %}

    <input name="url-redirect" hidden value="{{ url_redirect }}">
    <div class="form-group row">
        <label for="nick" class="col-sm-2 col-form-label">Имя пользователя</label>
        <div class="col-sm-10">
           <input name="username" type="text" class="form-control" id="nick" placeholder="Имя пользователя" autofocus required>
        </div>
    </div>
    <div class="form-group row">
        <label for="auth-password" class="col-sm-2 col-form-label">Пароль</label>
        <div class="col-sm-10">
            <input name="password" type="password" class="form-control" id="auth-password" placeholder="Пароль" required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="remember">
            <label class="form-check-label" for="remember">Запомнить меня</label>
          </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary col-sm-2">Войти</button>
</form>
<form id="register-form" method="post" style="display: none;">
    {% csrf_token %}
    <input name="url-redirect" hidden value="{{ url_redirect }}">
    <div class="form-group row">
        <label for="register-username" class="col-sm-2 col-form-label">Имя пользователя</label>
        <div class="col-sm-10">
            <input  type="text" name="username" id="register-username" class="form-control" placeholder="Имя пользователя" required />
        </div>
    </div>
    <div class="form-group row">
        <label for="register-email" class="col-sm-2 col-form-label">E-mail</label>
        <div class="col-sm-10">
            <input type="email" name="email" id="register-email" class="form-control" placeholder="E-mail" required/>
        </div>
    </div>
    <div class="form-group row">
        <label for="register-password" class="col-sm-2 col-form-label">Пароль</label>
        <div class="col-sm-10">
            <input type="password" name="password" id="register-password" class="form-control" placeholder="Пароль" required/>
            <small id="passwordHelpBlock" class="form-text text-muted">
                Пароль должен быть длиной 8-20 симоволов
            </small>
        </div>
    </div>
    <button type="submit" class="btn btn-primary col-sm-2">Регистрация</button>
</form>
<script>
    $(function() {
      $('#auth-form').submit(function(e) {
        var $form = $(this);
        $.ajax({
          type: "post",
          url: '/login/',
          data: $form.serialize()
        }).done(function(resp) {
            if (resp['url_redirect'] !== undefined) {
                document.location.replace(resp['url_redirect']);
            } else {
                document.location.replace('/');
            }
        }).fail(function(e) {
          if (e.responseJSON['error'] !== undefined) {
              var email = $('#auth-username');
              var password = $('#auth-password');
              email.css('border-color', 'red');
              email.effect('shake');
              password.css('border-color', 'red');
              password.effect('shake');
          }
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
      });
    });
    $(function() {
      $('#register-form').submit(function(e) {
        var $form = $(this);
        $.ajax({
          type: "post",
          url: '/registration/',
          data: $form.serialize()
        }).done(function(resp) {
            console.log(resp['url_redirect']);
            if (resp['url_redirect'] !== undefined) {
                document.location.replace(resp['url_redirect']);
            } else {
                document.location.replace('/');
            }
        }).fail(function(e) {
            if (e.responseJSON['error'] !== undefined) {
              var username = $('#register-username');
              var email = $('#register-email');

              if (e.responseJSON['type'] == 'email') {
                  email.css('border-color', 'red');
                  email.effect('shake');
                  $('#error-message-reg').html(e.responseJSON['error'])
              }
              if (e.responseJSON['type'] == 'username') {
                  username.css('border-color', 'red');
                  username.effect('shake');
                  $('#error-message-reg').html(e.responseJSON['error'])
              }
          }
        });
        //отмена действия по умолчанию для кнопки submit
        e.preventDefault();
      });
    });
    $(function() {
        $('#login-form-link').click(function(e) {
            $("#auth-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function(e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#auth-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
    });

</script>
{% endblock %}