{% extends 'sceleton.html' %}

{% block content %}
    <h1>Регистрация</h1>
    <div><span>Зарегистрируйтесь или пройдите <a href="/login/">авторизацию</a></span></div>
    <form method="post" accept-charset="UTF-8">
        {% csrf_token %}
        <label class="contacts-label">Введите ник:</label></br>
        <input name="nick_name" type="text" id="text" class="contacts-input" autofocus required></br>
        <label class="contacts-label">Введите e-mail:</label></br>
        <input name="email" type="email" id="e-mail" class="contacts-input" required></br>
        <label class="contacts-label">Введите пароль:</label></br>
        <input name="password" type="password" id="password" class="contacts-input" required></br>
        <input name="submit" type="submit" id="submit" value="Войти"></br>
    </form>
{% endblock %}
