{% extends 'sceleton.html' %}

{% block content %}
    <!--<input type="button" value="<- Вернуться назад" onclick="window.history.back()" />-->
    <div id="sportsman-names"><h1>{{ sportsman }}</h1></div>
    <div id="sportsman-photo" style="background: url(/media/{{ sportsman.photo }}) 50% 50% no-repeat; background-size: cover; "></div>
    <div id="sportsman-sport"><span class="label">Вид спорта: {{ sportsman.sport }}</span></div>
    <div id="sportsman-birthday"><span class="label">День рождения: {{ sportsman.birthday }} </span></div>
    <div id="sportsman-age"><span class="label">Возраст: {{ sportsman.age }} </span></div>
        {% if sportsman.role %}
            <div id="sportsman-role">
                <span class="label">Амплуа: {{ sportsman.role }}</span>
            </div>
        {% endif %}
    <div id="sportsman-rank">
        <span class="label">
            {% if sportsman.rank %}
                Звание:  {{ sportsman.rank }}
            {% endif %}
        </span>
    </div>
    {% if sportsman.height_sportsman %}
        <div id="sportsman-height">
            <span class="label">Рост: {{ sportsman.height_sportsman }}</span>
        </div>
    {% endif %}
    {% if sportsman.died %}
        <div id="sportsman-died">
            <span class="label"> Умер: {{ sportsman.died }}</span>
        </div>
    {% endif %}
    <div id="sportsman-start-career-player"><span class="label">Начало карьеры: {{ sportsman.start_career_player }}</span></div>
    <div id="sportsman-progress">
        <span class="label">Карьера:</span><br>
        {% for item in career %}
            <span class="label career">{{ item.print_year }}<a href="/club/{{ item.id_club.id }}/{{ item.id_club }}/">{{ item.id_club }}</a></span><br>
        {% endfor %}
    </div>

    {% if achievements %}
    <div id="sportsman-achievements">
        <span class="label">Достижения:</span><br>
        {% for item in achievements %}
            <span class="label career">{{ item.achievement}} {{ item.tournament}} {{ item.year}} г.</span><br>
        {% endfor %}
    </div>
    {% endif %}
    {% if sportsman.end_career_player %}
        <div id="sportsman-end-career-player">
            <span class="label">Окончание карьеры: {{ sportsman.end_career_player }}</span>
        </div>
    {% endif %}
    {% if sportsman.start_career_coach %}
        <div id="sportsman-start-career-coach">
            <span class="label">Начало карьеры тренера: {{ sportsman.start_career_coach }}</span>
        </div>
    {% endif %}
    {% if sportsman.end_career_coach %}
        <div id="sportsman-end-career-coach">
            <span class="label">Окончание карьеры тренера: {{ sportsman.end_career_coach }}</span>
        </div>
    {% endif %}
    {% if sportsman.biography %}
        {% autoescape off %}
            <div id="sportsman-biography">
                <h2>Биография</h2><span>{{ sportsman.biography }}</span>
            </div>
        {% endautoescape %}
    {% endif %}
{% endblock %}
