{% extends 'sceleton.html' %}

{% block content %}
    <h1>Добавление спортсмена</h1>
    <div>
        <p>Мы приятно удивлены, что Вы сюда зашли. Помогите нам сделать проект еще лучше и сохраните спортсмена,
            о котором у нас нет еще информации. Мы будем Вам очень признательны!</p>
    </div>
    <div class="row mt-3">
        <div class="col">
            {% if result.status == 1 %}
                <div class="alert alert-danger" role="alert">
                  {{ result.message }}
                </div>
            {% endif %}
        </div>
    </div>
    <form class="mb-5" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="sport">Выберите вид спорта</label>
            <select name="sport" class="form-control" id="sport">
                {% for sl in sport_list %}
                    <option value="{{ sl.id }}">{{ sl }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
        <label for="last-name">Фамилия</label>
        <input type="text" name="last_name" class="form-control" id="last-name" placeholder="Введите фамилию спортсмена" required>
        </div>
        <div class="form-group">
        <label for="first-name">Имя</label>
        <input type="text" name="first_name" class="form-control" id="first-name" placeholder="Введите имя спортсмена" required>
        </div>
        <div class="form-group">
        <label for="middle-name">Отчество</label>
        <input type="text" name="middle_name" class="form-control" id="middle-name" placeholder="Введите отчество спортсмена">
        </div>
        <div class="form-group">
        <label for="birthday">День рождения</label>
        <input type="date" name="birthday" class="form-control" id="birthday" placeholder="Введите отчество спортсмена">
        </div>
        <div class="form-group">
        <label for="role">Амплуа</label>
        <input type="text" name="role" class="form-control" id="role" placeholder="Введите амплуа спортсмена">
        </div>
        <div class="form-group">
        <label for="height_sportsman">Рост</label>
        <input type="number" name="height_sportsman" class="form-control" id="height_sportsman" placeholder="Введите рост спортсмена">
        </div>
        <div class="form-group">
        <label for="start_career_player">Год начала карьеры</label>
        <input type="number" name="start_career_player" class="form-control" id="start_career_player" placeholder="Год начала карьеры">
        </div>
        <div class="form-group">
        <label for="biography">Биография</label>
        <textarea class="form-control" name="biography" id="biography" rows="4"></textarea>
        </div>
        <div class="form-group">
        <label for="photo">Добавьте фотографию</label>
        <input type="file" class="form-control-file" name="photo"  id="photo" required>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
{% endblock %}
