{% extends 'sceleton.html' %}

{% block content %}
    <h1>Спортсмены</h1>
    <div class="row mt-3">
        <div class="col">
            {% if result.status == 0 %}
                <div class="alert alert-success" role="alert">
                  {{ result.message }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <form method="post" action="/sportsmans/">
                {% csrf_token %}
                <div class="input-group">
                  <input type="text" name="query" class="form-control" placeholder="Введите фамилию или имя спортсмена" minlength="3">
                  <span class="input-group-btn">
                    <input type="submit" class="btn btn-default" value="Поиск">
                    <a class="btn btn-success" href="/sportsmans/add/">Добавить спортсмена</a>
                  </span>
                </div>

            </form>
        </div>
    </div>
    {% if sportsmans  %}
    <h2 class="mt-4">Популярные спортсмены</h2>
    <div class="container-fluid">
        <div class="row">
            {% for sportsman in sportsmans %}
                <div class="col-lg-1 s-photo" style="background: url(/media/{{ sportsman.photo }}) 50% 50% no-repeat; background-size: cover; " data-title="{{ sportsman.last_name }} {{ sportsman.first_name }}">
                    <a href="{{ sportsman.user_id }}/"></a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <p> Не смогли найти такого спортсмена </p>
    {% endif %}
    <div id="both" class="mb-5"></div>
{% endblock %}
