.login-open-form,
#profile {
    margin-left: 1200px;
    display: block !important;
}
#login-form, #registration-form {
  margin: 0 auto;
  width: 250px;
}
#wrapper-login, #wrapper-reg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.67);
  z-index: 10;
  display: none;
}
#login, #registration {
    background-color: white;
    padding: 20px;
    width: 350px;
    height: 290px;
    display: block;
    position: absolute;
    top: -50px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 20;
    font-size: 14px;
    #close-login, #close-reg {
        margin-left: 280px;
        cursor: pointer;
    }
}
#title-login, #title-reg {
  font-size: 1.4em;
  margin: 5px 0 30px 0;
  text-align: center;
}
.login-input {
  border: 1px solid lightgray;
  font-size: 1.1em;
  width: 240px;
  padding: 4px;
  margin-bottom: 10px;
  &:focus {
    outline: none;
  }
}
#login-submit {
  height: 30px;
  width: 120px;
  margin-top: 10px;
  border: 0;
  font-weight: bold;
  background-color: @color-brand;
  color: white;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  &:active {
    background-color: #1a4580;
  }
}
#reg-submit  {
  #login-submit;
  width: 160px;
}
#reg-form {
  #login-submit;
  margin-left: 10px;
  background-color: #804c43;
  &:active {
    background-color: #6d3b36;
  }
}
#login-form-button{
  #login-submit;
  width: 80px;
  margin-left: 10px;
  background-color: #804c43;
  &:active {
    background-color: #6d3b36;
  }
}
#error-message, #error-message-reg {
  font-size: 0.9em;
  color: red;
}
