#national-team-wrapper {
  margin-top: 20px;
}
.national-team {
  height: 300px;
  width: 410px;
  float: left;
  filter: grayscale(100%);
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
  }
}
.national-team:hover {
  filter: grayscale(0);
  a {
    color: white;
  }
}
.national-team:nth-child(1) {
  margin-right: 10px;
}
