{% extends 'sceleton.html' %}

{% block content %}
    <h1>{{ select_sport.name }}. Сборные команды.</h1>
    <div id="national-team-wrapper">
        {% for nt in national_team%}
            <div class="national-team" style="background: url('/media/{{ nt.photo }}') 50% 50% no-repeat; background-size: cover;">
                <a href="{{ nt.gender }}/"></a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
