{% extends 'sceleton.html' %}

{% block content %}

{% load static %}
<script type="text/javascript" src="{% static 'scripts/jquery.min.js' %}"></script>


    <div id="club-name"><h1>{{ nt.name }}</h1></div>
    <div id="club-sport"><span class="label">Вид спорта: {{ nt.sport }}</span></div>
    <div id="club-country"><span class="label">Страна: {{ nt.country }}</span></div>
    {% if nt.text %}
        <div id="club-about">
            <h2>О сборной</h2>
            <span class="label">
                {% autoescape off %}
                    {{ nt.text }}
                {% endautoescape %}
            </span>
        </div>
        <a id="learn-more" style="cursor: pointer">Подробнее</a>
    {% endif %}

    <div id="club-players">
        <h2>Состав сборной</h2>
    </div>
    <div class="wrapper-season">
        <div id="prev"></div>
        <div id="season" style="left:40px;width: calc(100px * {{ years_list|length}});">
            {% for year in years_list %}
                {% if forloop.first %}
                    <div class="years selected" style="left:0" data-season="{{ year }}"><a href="#{{ year }}">{{ year }}</a></div>
                {% else %}
                    <div class="years" style="left:calc(120px * {{forloop.counter0}})" data-season="{{ year }}"><a href="#{{ year }}">{{ year }}</a></div>
                {% endif %}
            {% endfor %}
        </div>
        <div id="next"></div>
    </div>
    <div id="wrapper-for-players">
        {%  for year in years_list %}
            {% if forloop.first %}
                <div class="players visible" name="{{ year }}">
            {% else %}
                <div class="players" name="{{ year }}">
            {% endif %}
                    {% for t in tournament %}
                        <div class="wrapper-tournament">
                            <div class="tournament-title both"><h3><span>{{t.tournament.name}}</span></h3></div>
                            <div class="wrapper-player">
                                {% for st in sportsman_tournament %}
                                    {% if year in st.year and st.tournament_id == t.tournament.id %}
                                        <div class="player">
                                            <div class="sportsman-photo"><a href="/sportsmans/{{st.sportsman.user_id}}"><img src="/media/{{ st.sportsman.photo }}" width="100" height="150"></a></div>
                                            <div class="info">
                                                <a href="/sportsmans/{{st.sportsman.user_id}}" style="color: black">
                                                    <div class="sportsman-name"><span>{{ st.sportsman.last_name }} {{ st.sportsman.first_name }}</span></div>
                                                    <div class="sportsman-age"><span class="space">Возраст:</span><span class="value">{{ st.sportsman.age }}</span></div>
                                                    <div class="sportsman-height_sportsman"><span class="space">Рост:</span><span class="value">{{ st.sportsman.height_sportsman }}</span></div>
                                                    <div class="sportsman-role"><span class="space">Позиция:</span><span class="value">{{ st.sportsman.role }}</span></div>
                                                    <div class="sportsman-rank"><span class="space">Звание:</span><span class="value">{{ st.sportsman.rank }}</span></div>
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% empty %}
                                        <span>К сожалению, нет данных</span>
                                {% endfor %}
                            </div>
                        </div>
                    <div class="both"></div>
                    {% endfor %}
                </div>
        {% endfor %}
    </div>
    <script>
        ;(function () {
            $(".tournament-title").click(function () {
                var brother = $(this).next();
                if (brother.css('display') === 'none'){
                    brother.css('display', 'block')
                } else {
                    brother.css('display', 'none')
                }
            });
            $(".wrapper-player").each(function () {
                if( $.trim($(this).text()) == "" ){
                    $(this).closest('.wrapper-tournament').remove();
                }
            });
        })(jQuery);
    </script>
    <script>
    ;(function () {
        var text = $("#club-about");
        var defaultHeight = '100';
        if (text.height() < defaultHeight) {
            $('#learn-more').remove();
        }
        $('#learn-more').click(function (item) {
            if (text.height() > defaultHeight) {
                text.css('height', defaultHeight);
                item.toElement.innerHTML = "Подробнее";
            } else {
                text.css('height', 'auto');
                item.toElement.innerHTML = "Скрыть";
            }
            $('body').animate({ scrollTop: 0 }, 500);
        });

        var year = window.location.hash.replace("#","");
        if (year){
            $(".years").removeClass("selected");
            $("div[data-season=" + year +"]").addClass("selected");
            $(".players").removeClass("visible");
            $("div[name=" + year +"]").addClass("visible");
        }
    })(jQuery);

    $(".years").click(function(){
        $(".years").removeClass("selected");
        $(".players").removeClass("visible");
        $(this).addClass("selected");
        season = $(this).attr("data-season");
        $("div[name=" + season + "]").addClass("visible");
    });
    $("#next").click(function(){
        width = parseInt($("#season").css("width"));
        left = parseInt($("#season").css("left"));
        scale = (width/$(".years").length)*4;

        if (Math.abs(left - scale/4) < Math.abs(width - scale/2))
            $("#season").animate({
                height: "50px",
                left: "-=" + scale,
             }, 500)
    });
    $("#prev").click(function(){
        width = parseInt($("#season").css("width"));
        left = parseInt($("#season").css("left"));
        scale = (width/$(".years").length)*4;

        if (left < 40)
            $("#season").animate({
                height: "50px",
                left: "+=" + scale,
             }, 500)
    })


</script>
{% endblock %}
