#club-logo {
    float: left;
    margin-left: 20px;
}
#club-info {
    height: 200px;
    margin-top: 10px;
}
.club-label {
    font-size: .8em;
    font-weight: bold;
}
.club-value {
    font-size: .9em;
}
#wrapper-for-players {
    display: inline-block;
}
.wrapper-season {
    overflow: hidden;
    position: relative;
}
#season {
    height: 50px;
    position: relative;
    line-height: 50px;
}
#prev {
    left: 0;
    width: 40px;
    height: 50px;
    float: left;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    background: url(/static/icons/right-arrow.svg) no-repeat center;
    transform: rotate(180deg);
    background-size: cover;
}
#club-about {
    display: inline-block;
    margin: 10px 0;
    height: 100px;
    overflow: hidden;
    text-align: justify;
}
.label {
        font-size: 80%;
        text-align: justify;
        line-height: 1.5;
    p {
        margin: 0;
    }
}
#club-players {
    margin: 10px 0;
    width: 100%;
}
#next {
    top: 0;
    right: 0;
    width: 40px;
    height: 50px;
    float: right;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    background: url(/static/icons/right-arrow.svg) no-repeat center;
    background-size: cover;
}
.years {
    height: 50px;
    float: left;
    width: 99px;
    margin-left: 1px;
    cursor: pointer;
    background: rgb(240, 240, 240);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    a {
        height: 100%;
        display: block;
        color: black;
    }
}
.years:first-child{
    margin-left: 0;
}
.players {
    display: none;
    width: 100%;
    margin-top: 10px;
}
.player {
    display: inline-flex;
    width: 50%;
    height: 150px;
    float: left;
    margin-top: 5px;
}
.sportsman-photo {
    float: left;
    width: 100px;
    height: 150px;
    border: 1px solid rgb(240, 240, 240);
}
.info {
    left: 100px;
    margin: 0 5px 0 10px;
    font-size: 0.9em;
}
.sportsman-name {
    font-weight: bold;
    margin-bottom: 10px;
}
.space {
    margin-right: 5px;
    font: bold 10pt sans-serif;
}
.value {
    font: 10pt sans-serif;
}
.visible {
    display: inline-block;
}
.selected {
    background: rgb(200, 200, 200);
}
