.contacts-input {
  border: 1px solid lightgray;
  font-size: 1.1em;
  width: 300px;
  padding: 2px;
  margin-bottom: 10px;
  &:focus{
      outline: none;
  }
}
.contacts-textarea {
  border: 1px solid lightgray;
  &:focus{
    outline: none;
  }
}