.news-item {
    margin-top: 20px;
    .news-title {
        font-size: 130%;
        a {
            color: @color-brand;
        }
        h1 {
            font-size: 100%;
            font-weight: 100;
        }
    }
    .news-preview {
        padding-top: 10px;
        text-align: justify;
        line-height: 1.5;
        a {
            color: black;
        }
    }
    .news-info {
        width: 100%;
        font-size: 70%;
        margin-top: 10px;
    }
}
.news-page {
    margin-top: 20px;
    .news-title {
        font-size: 130%;
        a {
            color: @color-brand;
        }
        h1 {
            font-size: 100%;
            font-weight: 100;
        }
    }
    .news-text {
        padding-top: 15px;
        text-align: justify;
        line-height: 1.5;
        a {
            color: black;
            text-decoration: underline;
        }
    }
    .news-preview {
        padding-top: 10px;
        text-align: justify;
        line-height: 1.5;
        a {
            color: black;
        }
    }
    .news-info {
        width: 100%;
        font-size: 70%;
        margin-top: 10px;
        .news-data-create {
            width: 50%;
            float: left;
        }

        .news-author{
            font-size: 130%;
            margin-left: 50%;
            text-align: right;
        }
    }
}
#wrapper_comments {
  width: 100%;
  h3 a {
    cursor: default;
  }
}
.comment {
  width: 100%;
  margin: 20px 0;
  .c-user-name {
    color: @color-brand;
    font-size: 1.5em;
  }
  .c-text {
    margin-top: 5px;
    line-height: 1.2em;
    text-align: justify;
  }
  .c-date {
    font-size: 0.6em;
  }
}
#comment-form {
  margin: 30px 0;
  #comment-submit {
    width: 200px;
    height: 30px;
  }
}
.text-info{
  margin: 50px 0;
}
