.reset{
    padding: 0;
    border: 0;
    margin: 0;
}
html body{
    height: 100%;
    .reset;
}
ul {
    list-style-type: none;
    .reset;
}
a {
    cursor: pointer;
    text-decoration: none !important;
    color: @color-brand;
}
